.site_header {
    position: fixed;
    width: 100%;
    justify-content: left;
    align-items: center;
    display: flex;
    background-color: rgba(38, 145, 216, 0.5)
}

.site_title {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.site_name {
    font-size: 30px;
    color:rgb(1, 54, 30)
}

.menu {
    width: 75%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
}

.menu_item {
    font-size: large;
    padding-left: 20px;
    color: blue;
}
